*{
	margin: 0px;
	padding: 0px;
}
.main-herosection{
	background-color:orangered;
	height: 500px;
	width: 100%;
}
.hero-section{
	display: flex;
	width: center;
}

.logo-icon{
	height: 40px;
	width: 30px;
	border-radius: 15px;
	margin-top: 20px;
	margin-left: 100px;
}

.hero-heading{
	color: white;
	display: flex;
	margin-top: 20px;
	gap: 40px;
}

.icon-Section{
	display: flex;
	gap: 20px;
	margin-top: 40px;
	margin-left: 260px;
	color: white;
}
.hero-btn{
	height: 40px;
	width: 110px;
	background-color: orangered;
	color: white;
	border-color: white;
}
.button{
	height: 40px;
	width: 110px;
	background-color:black;
	color: white;
	border-color: white;
}
.about-text{
	margin-top: 150px;
	margin-right: 70px;
}
.heading-Section{
	margin-top: 40px;
    text-align: center;
	color: white;
}
#location-search{
	border: none;
	width: 200px;
}
.main-search{
	display: flex;
	margin-top: 20px;
}
.about-btn2{
	width: 300px;
}

.about-btn{
	display: flex;
	width: 260px;
	height: 30px;
	background-color: white;
	border-radius: 8px;
	padding-top: 10px;
	margin-left: 300px;
}
.about-btn1{
	display: flex;
    padding-left: 30px;
	width: 300px;
	height: px30px;
	background-color: white;
	border-radius: 8px;
	padding-top: 10px;
	margin-left: 15px;
}
.item-section{
	display: flex;
	gap: 5px;
}
/*.item-section{

	background-color: white;
	height: 150px;
	width: 250px;
	padding-top: 20px;
	margin-left: 180px;
	margin-top: 40px;
	border-radius: 25px;
}
*/.heading{
	background-color: white;
	height: 150px;
	width: 250px;
	padding-top: 20px;
	margin-left: 90px;
	margin-top: 40px;
	border-radius: 25px;
}
.H{
	color: slategray;
}

#about-btn{
	margin-top: 20px;
	border:none;
	color: darkorange;
}
.icon{
	margin-top: 35px;
	margin-left: 30px;
	width: 29px;
	border-radius: 2px solid orange;
	background-color: orange;
}
.img{
	margin-top: 10px;
	padding-top: 30px;
	margin-left: 15px;
	background-repeat:none;
	background-repeat: 30px;
	color: darkorange;
}
/*.egg{
	height: 110px;
	width: 120px;
	/*align-items: right;
	margin-left: 90px;
}
#arrow{
	width: 12px;
}*/
.image-section{
	margin-top: 100px;
	margin-left: 50px;
	background-color: white;
	height: 300px;
}
.image-itam img{
	height: 140px;
	width: 140px;
}
.image-itam{
	display: flex;

}
.image-itam1{
	display: flex;
}
.groceries-section{
	margin-top: 100px;
	margin-left: 50px;
}
.photo-section{
	height:100px;
	display: flex;
	gap: 50px;
	padding-top: 20px;
}
.card{
	display: flex;
	gap: 2px;
	padding-top: 20px;

}
.mainfood-delivery{
	margin-top: 70px;
	margin-left: 100px;
}
.heading-5{
	display: flex;
	margin-top: 100px;
	margin-left: 50px;
}
.restaurants-section{
	margin-left: 100px;
	height: 100px;
	width: 200px;
	border-radius: 20px;
}
.image-adv{
	margin-top: 50px;
	width: 100%;
}
.Cities-delivery{
	margin-top: 50px;
	margin-left: 150px;
	padding-top: 20px;
	height: 40px;
}
.bt{
	color: darkorange;
	height: 60px;
	width: 160px;
}
button{
	border: 1px solid black;
	border-radius: 12px;
	background-color: white;
	margin: 8px 10px 8px 10px;
padding: 12px 15px 12px 15px;
}
.footer-section{
	background-color:lightgrey;
	height: 550px;
}
.footer-logo{
	display: flex;
	gap: 10px;
}
.logo-icon1{
	display: flex;
	margin-top: 20px;
}
.hero-heading2{
	display: flex;
	margin-top:40px;
}
.hero-heading1{
	color: darkorange;
}
.para1{
	margin-left: 100px;
}
.Swiggy-Section{
	display: flex;
	margin-left: 350px;
	gap: 50px;
}
.Swiggy-Section p{
	margin-top: 20px;
}
.btn2{
	background-color: lightgrey;
}
.href{
	height: 1px;
	margin-top: 30px;
	margin-left: 60px;
	width: 90%;
}
.play-store{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	gap: 10px;
}
.play-store img{
	height: 30px;
	width: 120px;
}